body,*{
  margin: 0%;
  box-sizing: border-box;
  color: white;
 
}

body{
  background-color: #000;
}

#container{
  margin: 80px 0px 0px 80px;
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  align-items: center;
}



